<div class="like-widget-container" (appAction)="like()">
  <fa-icon
    [icon]="fonts.faThumbsUp"
    role="button"
    tabindex="0"
    size="1x"
    [attr.aria-describedby]="id"
  >
  </fa-icon>
  <span
    class="like-counter"
    [attr.id]="id"
    [attr.aria-label]="likes + ' people liked!'"
    aria-live="assertive"
    aria-atomic="true"
  >
    {{ likes }}
  </span>
</div>
