<router-outlet></router-outlet>
<!--
<app-like-widget [likes]="likes" (liked)="like()"></app-like-widget>

<app-photo-frame
  [likes]="likes"
  description="Some description"
  src="https://picsum.photos/200/300"
  (liked)="like()"
>
</app-photo-frame>
<div *ngIf="photos$ | async as photos">
  <app-photo-board [photos]="photos"> </app-photo-board>
</div>
-->
