/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #272c3f;
}

:focus {
  outline: 2px solid orange;
}

.button-group {
  text-align: right;
  .button {
    margin-left: 0.5rem;
  }
}

.button {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: none;

  font-weight: 400;
  &.button-primary {
    background-color: #0056b3;
    color: #fff;
  }
  &.button-secondary {
    background-color: #6c757d;
    color: #fff;
  }
}

.form-field {
  margin-bottom: 1rem;
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  input {
    width: 100%;
    padding: 0.25rem;
    font-size: 1rem;
  }
}

.validation-error {
  display: inline-block;
  color: red;
  margin-top: 0.5rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
